/* Blog.css */

.blog {
    display: flex;
    flex-direction: row;
    max-width: 70vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    border-radius: 0.6rem;
    padding: 1.2rem;
    transition: transform 0.5s;
}

.blog:hover {
    transform: scale(1.025);
}

.blog:not(:hover) {
    transform: scale(1);
}

.blogImage {
    margin: 1rem;
    max-width: 30%;
    border-radius: 0.6rem;
}

#blogTitle {
    text-align: left;
    font-variant: small-caps;
    margin: 0 .4rem;
    align-self: center;
    font-size: 1.2rem;
    line-height: 1.1;
}

.blogTextContent {
    margin-left: 1.5rem;
    align-self: center;
}

.ourStory {
    padding: 0 0 0 6rem;
    margin-top: 1.4rem;
}


@media (max-width: 800px) {
    .ourStory {
        padding: 0;
    }

    .blog {
        flex-direction: column;
    }

    #blogTitle {
        text-align: center;
        margin-bottom: 2rem;
    }

    .blogTextContent {
        margin-left: 1.5rem;
        align-self: center;
        text-align: left;
    }

    .blogImage {
        margin: 1rem;
        max-width: 81%;
        border-radius: 0.6rem;
    }
}