*{
    font-size: .9rem;
}

img {
    user-select: none;
}

.topPart {
    position: relative;
    max-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPart img {
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    opacity: .75;
}

.headingBackground {
    position: absolute;
    background-color: rgba(229, 232, 236, 0.7);
    border-radius: 1rem;
    width: 98vw;
}


.topPart .contactUsHeading {
    color: #5e5e5e;
    font-size: 1.7em;
    text-align: center;
    font-family: "GalantoGrotesque", Arial, serif;
    z-index: 1;
    padding: .2em .75em;
}

.middlePart .mainContainer {
    display: flex;
    flex-direction: row;
    padding: .2rem;
    justify-content: space-around;
}

.middlePart .containerLeft, .middlePart .containerRight {
    text-align: justify;
}

.containerRight {
    margin-left: -10rem;
}

.containerRight table, .containerRight tbody, .containerRight td, .containerRight tr {
    border-bottom: 1px inset #d1d1d1;
    border-collapse: collapse;
    padding: .3em;
}

.middlePart .socialMediaRow {
    margin: 2rem 0 .6rem 0;
    background-color: #dddddd;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fbIcon, .inIcon {
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
    transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 54px;
    width: 54px;
}

.instaIcon {
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
    transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 49px;
    height: 49px;
}


.fbIcon:hover, .inIcon:hover, .instaIcon:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.1);
}

.contactForm {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4.5rem 0;
}

.iframe{
    width: 400px;
    height: 400px;
}

@media (max-width: 576px) {
    .fbIcon, .inIcon {
        align-self: center;
        margin-left: 1rem;
        margin-right: 1rem;
        transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        height: 54px;
        width: 54px;
    }

    .instaIcon {
        align-self: center;
        margin-left: 2rem;
        margin-right: 2rem;
        transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        width: 49px;
        height: 49px;
    }


    .contactForm{
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        margin: .1rem 0;
    }

    .iframe{
        width: 300px;
        height: 300px;
        margin: 2rem auto;
    }

    .middlePart .mainContainer {
        display: flex;
        flex-direction: column;
    }

    .middlePart .containerLeft {
        text-align: center;
    }
    .middlePart .containerRight {
        text-align: left;
        align-self: center;
    }

    .containerRight {
        margin-left: 0rem;
    }
}
