img{
    user-select: none;
}

.topPart{
    position: relative;
    max-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topPart img{
    width: 100vw;
    height: 35vh;
    object-fit: cover;
    opacity: .75;
}

.headingBackground{
    position: absolute;
    background-color: rgba(229, 232, 236, 0.7);
    border-radius: 1rem;
    width: 98vw;
}


.topPart .contactUsHeading{
    color: black;
    font-size: 2.1em;
    text-align: center;
    font-family: "GalantoGrotesque", Arial;
    z-index: 1;
    padding: .2em .75em;
}

.middlePart .mainContainer{
    display: flex;
    flex-direction: row;
    padding: .2rem;
    justify-content: space-around;
}

.middlePart .containerLeft, .middlePart .containerRight{
    text-align: justify;
}

.containerRight{
    margin-left: -10rem;
}

.containerRight table, .containerRight tbody, .containerRight td, .containerRight tr{
    border-bottom: 1px inset #d1d1d1;
    border-collapse: collapse;
    padding: .3em;
}

.middlePart .socialMediaRow{
    margin: 2rem 0;
    background-color: #dddddd;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fbIcon, .inIcon, .instaIcon{
    align-self: center;
    margin-left: 4rem;
    margin-right: 4rem;
    transition: box-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.fbIcon:hover, .inIcon:hover, .instaIcon:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2),
    0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(1.1);
}

.contactForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}