.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 87vw;
}

.footer .divider{
    display: flex;
    align-items: center;
    background-color: #b3b3b3;
    height: 1px;
    text-align: center;
}
.custom-class{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 1rem;
}

.logoShort{
    width: 10rem;
}


