.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .5rem;
    background: linear-gradient(to right, #dddddd, #f0f0f0, #dddddd);
    font-size: 1.1rem;
}


.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1.3rem;
    position: relative;
    font-weight: 700;
}

.navbar ul li:hover{
    color: black;
    cursor: pointer;
    transition: 300ms;
}
.navbar ul li:not(hover){
    color: #393939;
    transition: 600ms;
}


.navbar ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 300ms ease-in-out, left 300ms ease-in-out;
}

.navbar ul li:hover::after {
    width: 100%;
    left: 0;
}