
.product {
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 1.2rem;
    transition: transform 0.5s;
    margin: 1.5rem;
}

.productContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product:hover {
    transform: scale(1.025);
}

.product:not(:hover) {
    transform: scale(1);
}

.productImage {
    margin: .3rem;
    width: 160px;
    height: 100px;
    border-radius: 0.6rem;
}

#productTitle {
    font-variant: small-caps;
    margin: 0 .5rem;
    font-size: 1.3rem;
    line-height: 1.2;
}

.productDescription{
    align-self: center;
    margin: 0 auto;
    padding: 0 10px;
    font-size: .9rem;
}

@media (max-width: 800px){
    .product{
        margin: .5rem 2rem;
        flex-direction: column;
    }

    .productImage {
        margin: .3rem;
        border-radius: 0.6rem;
        align-self: center;
    }

    #productTitle {
        margin-bottom: 3rem;
    }

    .productDescription{
        align-self: center;
        text-align: left;
    }
}