@font-face {
  font-family: 'GalantoGrotesque';
  src: url('GalanoGrotesque-Light.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: GalantoGrotesque;
}

a[href]{
  color: black;
}

.buildingImage{
  max-height: 85vh;
  width: 99vw;
}

